select {
	color: grey;
	outline: 0;
	border-width: 0 0 2px;
	border-color: #e2e2e2;
	width: 100%;
}

select:focus {
	border-color: green
}

.select-margin-input {
	margin-top: 2px;
}

input {
	outline: 0;
	border-width: 0 0 2px;
	border-color: #e2e2e2;
	width: 100%;
}

input:focus {
	border-color: green
}

#seller-heading {
	font-weight: bolder;
}

#img {
	background: url('../images/burger.jpg');
	border-radius: 100%;
	height: 150px;
	max-width: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#img2 {
	background: url('../images/choleBhature.jpg');
	border-radius: 100%;
	height: 150px;
	max-width: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#img3 {
	background: url('../images/pizza2.jpg');
	border-radius: 100%;
	height: 150px;
	max-width: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#img4 {
	background: url('../images/pancake.jpg');
	border-radius: 100%;
	height: 150px;
	max-width: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.l-height {
	height: 350px;
	opacity: 0.8;
}